.personal-preview {
  &__name-wrap {
    position: absolute;
    top: 15px;
    left: 200px;
    width: auto;
  }

  &__brief {
    position: absolute;
    top: 110px;
    left: 80px;
    width: 200px;
  }

  &__add-text-wrap {
    position: absolute;
    top: 290px;
    left: -200px;
    width: 290px;
  }
}
