.about
    .about__max-width-wrap
        .about__bridge-img-wrap
            img(class="about__bridge-img" src="/images/pages/home/img__about-bridge.jpg")
        .about__content-wrap
            .about__h2-wrap
                .about__h2
                    | LR-AVANGARD — сервис, где мы относимся к вашему авто, как к своему
            .about__hr
            .about__text-block
                .about__text-block-item
                    p.about__content-text__first-letter_stylish
                        | Только обладая профессиональной компетенцией и понимая суть автомобилей Land Rover можно правильно и точно подходить к обслуживанию и ремонту этих автомобилей. В нашем деле мы опираемся на:
                        br
                        br
                        | 01. Реальные сроки ремонта и точное ориентирование клиента по времени. У нас совсем нет времени «замораживать» ремонт.
                .about__text-block-item
                    p.about__content-text__text_original
                        | 02. Многолетний опыт заставил находить выход из самых сложных ситуаций. Если можно выполнить качественный ремонт без потери ресурса, а не замену в сборе - мы всегда предложим эту альтернативу.
            .about__hr__margin-top_none
            .service
                h2.service__h2
                    | Услуги
                .service__cards-wrap
                    .service__cards-wrap-item
                        .service__cards-wrap-item-image__service_01
                            form.service__card-form
                                input(class="service__form-card-checkbox", id="checkbox-service-01" type="checkbox")
                                p.service__form-text-checkbox
                                    | выбрать
                            .service__white-background
                        .service__form-card-label-wrap
                            p
                                label(class="service__form-card-label" for="checkbox-service-01")
                                    | Техническое обслуживание по пробегу
                    .service__cards-wrap-item
                        .service__cards-wrap-item-image__service_02
                            form.service__card-form
                                input(class="service__form-card-checkbox", id="checkbox-service-02" type="checkbox")
                                p.service__form-text-checkbox
                                    | выбрать
                            .service__white-background
                        .service__form-card-label-wrap
                            p
                                label(class="service__form-card-label" for="checkbox-service-02")
                                    | Диагностика и ремонт подвески
                    .service__cards-wrap-item
                        .service__cards-wrap-item-image__service_03
                            form.service__card-form
                                input(class="service__form-card-checkbox", id="checkbox-service-03" type="checkbox")
                                p.service__form-text-checkbox
                                    | выбрать
                            .service__white-background
                        .service__form-card-label-wrap
                            p
                                label(class="service__form-card-label" for="checkbox-service-03")
                                    | Диагностика и ремонт силового агрегата
                    .service__cards-wrap-item
                        .service__cards-wrap-item-image__service_04
                            form.service__card-form
                                input(class="service__form-card-checkbox", id="checkbox-service-04" type="checkbox")
                                p.service__form-text-checkbox
                                    | выбрать
                            .service__white-background
                        .service__form-card-label-wrap
                            p
                                label(class="service__form-card-label" for="checkbox-service-04")
                                    | Ремонт электрического оборудования и систем
                    .service__cards-wrap-item
                        .service__cards-wrap-item-image__service_05
                            form.service__card-form
                                input(class="service__form-card-checkbox", id="checkbox-service-05" type="checkbox")
                                p.service__form-text-checkbox
                                    | выбрать
                            .service__white-background
                        .service__form-card-label-wrap
                            p
                                label(class="service__form-card-label" for="checkbox-service-05")
                                    | Установка ДОПов
            .service__form-wrap
                .service__choose-list-wrap
                    p.service__cnt-serivices
                        | Выбрано (2) услуги:
                .service__choose-list
                    .service__choose-item-wrap
                        p.service__choose-item-text
                            | Техническое обслуживание по пробегу
                        .service__choose-item-number-wrap
                            p.service__choose-item-number
                                | 01
                    .service__choose-item-wrap
                        p.service__choose-item-text
                            | Ремонт электрического оборудования и систем
                        .service__choose-item-number-wrap
                            p.service__choose-item-number
                                | 02
                .service__form
                    .gifts-form__sevice_true
                        .gifts-form__field__name__service_true
                            label(class="gifts-form__label" for="input-name")
                                | ваше имя
                            input(class="gifts-form__input", id="input-name" type="text", maxlength="100", name="Имя", required="")
                        .gifts-form__field__phone__service_true
                            label(class="gifts-form__label" for="input-phone")
                                | телефон
                            input(class="gifts-form__input", id="input-phone" placeholder="+7" type="text", maxlength="100", name="Имя", required="")
                        .gifts-form__button-wrap
                            button.gifts-form__button__service_true
                                | Отправить
        .service__footer-img-wrap
            img(class="service__footer-img" src="/images/pages/home/img__about-car.jpg")