.footer
  .footer__max-width-wrap
    .footer__content-wrap
      .footer__hr
      .footer__flex-wrap
        .footer__logo-block
          .footer__logo-wrap
            a(href="/" title="Сервис Ленд Ровер в Москве")
              img(class="footer__logo-img" src=require("../../../assets/images/common/img__logo.svg") alt="Сервис Ленд Ровер в Москве" title="Сервис Ленд Ровер в Москве")
        .footer__address-block
          address
            p.footer__phone
              | #{userPhone}
            p.footer__email
              | #{userMail}
        .footer__politic-block
          p.footer__politic
            a(class="footer__politic-link" href="/policy.html")
              | Публичная оферта и политика конфиденциальности
          p.footer__copyrights
            | © ООО «Ленд Ровер Москва»,
            br
            | 2002—2019.