.route
  .route__max-width-wrap
    .route__content-wrap
      h2.route__h2
        | Как добраться в LR-Avangard
      p.route__path-auto
        | На авто
      .route__hr
      .route__vids-list
        .route__vids-list-item
          .route__video-preview
            iframe(src="https://www.youtube.com/embed/wjbkD64Q6Uw?enablejsapi=1&amp;version=3" width="200px" height="120px" frameborder="0" allowfullscreen)
          .route__desc-video-preview
            p.route__desc-video-header
              | ТТК - ВНЕШНЯЯ СТОРОНА
            p.route__desc-video-header2
              | Как добраться в Лр Премиум с ТТК (внешняя сторона)
        .route__vids-list-item
          .route__video-preview
            iframe(src="https://www.youtube.com/embed/zJB88P1k2ZY?enablejsapi=1&amp;version=3" width="200px" height="120px" frameborder="0" allowfullscreen)
          .route__desc-video-preview
            p.route__desc-video-header
              | ТТК - ВНУТРЕННЯЯ СТОРОНА
            p.route__desc-video-header2
              | Как добраться в Лр Премиум с ТТК (внутренняя сторона)
        .route__vids-list-item
          .route__video-preview
            iframe(src="https://www.youtube.com/embed/4g5lwe2m-SU?enablejsapi=1&amp;version=3" width="200px" height="120px" frameborder="0" allowfullscreen)
          .route__desc-video-preview
            p.route__desc-video-header
              | из центра
            p.route__desc-video-header2
              | Как добраться в Лр Премиум из центра
            h2.route__h2
        .route__vids-list-item
          .route__video-preview
            iframe(src="https://www.youtube.com/embed/X_QM8Ic8Ocw?enablejsapi=1&amp;version=3" width="200px" height="120px" frameborder="0" allowfullscreen)
          .route__desc-video-preview
            p.route__desc-video-header
              | из области
            p.route__desc-video-header2
              | Как добраться в Лр Премиум из области
            h2.route__h2
      //- p.route__path-auto
      //-     | На общественном транспорте
      //- .route__hr
      //- .route__vids-list
      //-     .route__vids-list-item__margin_none
      //-         .route__video-preview
      //-             iframe(src="https://www.youtube.com/embed/EmjwrZjLTmo?enablejsapi=1&amp;version=3" width="200px" height="120px" frameborder="0" allowfullscreen)
      //-         .route__desc-video-preview
      //-             p.route__desc-video-header
      //-                 | Из области
      //-             p.route__desc-video-header2
      //-                 | Как добраться в Лр Премиум из области