.personal-preview__arrows
  .personal-preview__arrow__position_left
  .personal-preview__arrow__position_right
  .personal-preview__arrow-svg-wrap__position_left
    svg(class="personal-preview__arrow-svg__left_true" aria-hidden="true")
      use(xlink:href=require("../../../assets/images/common/sprite__icons.svg") + "#arrow-right")