//- .about
//-     .about__content-wrap
        //- .about__bridge-img-wrap
            //- img(class="about__bridge-img" src="/images/pages/home/img__about-bridge.jpg")
        //- .about__main-content-wrap
        //-     .about__h2-wrap
            //-     .about__h2
            //-         | LR-AVANGARD — сервис, где мы относимся к вашему авто, как к своему
            //- .about__hr
            //- .about__text-block
            //-     .about__text-block-item__padding-left_none
            //-         p.about__content-text__first-letter_stylish
            //-             | Наша профессиональная команда работает вместе более 4 лет. Мы действительно преданны своему делу. Каждый из нас получил огромный опыт работы с Ленд Ровер, в том числе у Официального Дилера. Чтобы досканально знать эти автомобили и их проблемы, мы не останавливаемся на достигнутом и совершенствуем свои навыки.
            //-     .about__text-block-item
            //-         p.about__content-text__text_original
            //-             | Каждый сотрудник проходит ежеквартальное обучение и узнает последние тенденции конструкции, диагностики и ремонта Land Rover.
            //- .about__hr__margin-top_none
.about
    .about__max-width-wrap
        .about__bridge-img-wrap
            img(class="about__bridge-img" src="/images/pages/home/img__about-bridge.jpg")
        .about__content-wrap
            .about__h2-wrap
                .about__h2
                    | LR-AVANGARD — сервис, где мы относимся к вашему авто, как к своему
            .about__hr
            .about__text-block
                .about__text-block-item
                    p.about__content-text__first-letter_stylish
                        | Только обладая профессиональной компетенцией и понимая суть автомобилей Land Rover можно правильно и точно подходить к обслуживанию и ремонту этих автомобилей. В нашем деле мы опираемся на:
                        br
                        | 01. Реальные сроки ремонта и точное ориентирование клиента по времени. У нас совсем нет времени «замораживать» ремонт.
                .about__text-block-item
                    p.about__content-text__text_original
                        | 02. Многолетний опыт заставил находить выход из самых сложных ситуаций. Если можно выполнить качественный ремонт без потери ресурса, а не замену в сборе - мы всегда предложим эту альтернативу.
            .about__hr__margin-top_none
        //- .about__bridge-img-wrap
            //- img(class="about__bridge-img" src="/images/pages/home/img__about-bridge.jpg")
        //- .about__main-content-wrap
            .about__h2-wrap
            //-     .about__h2