.action
    .action__max-width-wrap
        .action__decorated-block-top
        .action__decorated-block-left
        .action__decorated-block-right
        .action__decorated-block-bottom
        .action__content-wrap
            p.action__header
                | Бесплатно
            .action__text-block
                h3.action__h3
                    | Бесплатная диагностика в день обращения
                .action__hr
                p.action__text
                    | Мы уверены в своей компетенции и подарим Вам профессиональную комплексную диагностику Вашего Ленд Ровер. Здесь не будет вымышленных «50 строк», а войдут самые необходимые проверки - подвеска, двигатель, трансмиссия и компьютерная диагностика.
                p.action__text
                    | Вы можете присутствовать в ремонтной зоне и находиться рядом с Вашим автомобилем при проведении диагностики. Мы все расскажем и покажем, без пыли в глаза. Где и когда выполнять рекомендации Вы решаете самостоятельно.
                .action__form
                    <button class="action__form-button"><ul class="card-gift__ul-choose"><li class="card-gift__ellipse"></li><li class="contacts__choose-text">Заказать диагностику</li></ul></button>
.action__white-bottom-block
