- var adminEmail = "footballman170@yandex.ru";
- var nameSite = "lr-avangard.ru";
.footer
    .footer__max-width-wrap
        .footer__content-wrap
            .footer__hr
            .footer__flex-wrap
                .footer__logo-block
                    .footer__logo-wrap
                         a(href="/" title="Сервис Ленд Ровер в Москве")
                            img(class="footer__logo-img" src="/images/common/img__logo.svg" alt="Сервис Ленд Ровер в Москве" title="Сервис Ленд Ровер в Москве")
                .footer__address-block
                    address
                        p.footer__phone
                            | +7(495) 241-29-39
                        p.footer__email
                            | info@lr-avangard.ru
                .footer__politic-block
                    p.footer__politic
                        a(class="footer__politic-link" href="/policy.html")
                            | Публичная оферта и политика конфиденциальности
                    p.footer__copyrights
                        | © ООО «Ленд Ровер Москва»,
                        br
                        | 2002—2019.