.header-block
	div.telephone
		a(class ="telephone__link" href="tel:+7(495)241-29-89" title="Позвонить") +7(495) 241-29-39
	div.logo
		a(href="/" title="Сервис Ленд Ровер в Москве")
			img(src="/images/common/img__logo.svg" alt="Сервис Ленд Ровер в Москве" title="Сервис Ленд Ровер в Москве")
	div.menu
		div
			svg(class="menu__icon" aria-hidden="true")
				use(xlink:href="/images/common/sprite__icons.svg#menu")
		div
			p.menu__text меню