/*********************************************/

/* Desktop */

/*********************************************/
.header-block {
  &__text-h1 {
    padding-right: 20px;
    font-size: get-em(35);
  }

  &__text {
    width: calc(100% / 12 * 5 - 30px);
  }

  &__avangard {
    top: 85px;
    right: -220px;
  }

  &__avangard-p {
    font-size: get-em(105);
  }

  &__car {
    top: 160px;
    right: -80px;
  }

  &__car-img {
    width: 500px;
  }

  &__lr {
    z-index: 2;
    top: -100px;
    right: 0;

    &__page404_true {
      top: -50px;
      right: -85px;
    }
  }

  &__lr-text {
    font-size: get-em(460);

    &__page404_true {
      font-size: get-em(300);
    }
  }

  &__text-description {
    padding-right: 20px;
  }

  &__text-wrap {
    padding-bottom: get-rem(100);
  }

  &__padding-block {
    padding-top: get-rem(150);
  }
}

.gifts {
  &__max-width-wrap {
    padding-bottom: get-rem(30);
  }
}

.personal-preview {
  &__name {
    font-size: get-em(55);
  }

  &__experience {
    font-size: get-rem(16);
  }

  &__add-text-wrap {
    top: 250px;
    left: 120px;
    width: 290px;
  }

  &__brief {
    position: absolute;
    top: 80px;
    left: 320px;
    width: 200px;
  }

  &__hr {
    top: 308px;
  }
}

.action {
  &__header {
    font-family: 'Fira Sans', sans-serif;
    font-size: get-em(150);
  }

  &__decorated-block-top {
    top: 0;
    left: 0;
    width: 100%;
    height: get-rem(110);
    transform: rotate(3grad);
    transform-origin: 0 0;
  }

  &__decorated-block-left {
    top: get-rem(100);
    left: get-rem(150);
    width: 105%;
    height: get-rem(150);
    transform: rotate(95grad);
    transform-origin: 0 0;
  }

  &__decorated-block-right {
    top: 0;
    right: get-rem(125);
    width: 90%;
    height: get-rem(170);
    transform: rotate(-90grad);
    transform-origin: 100% 0;
  }

  &__decorated-block-bottom {
    bottom: get-rem(-180);
    left: get-rem(200);
    width: 110%;
    height: get-rem(300);
    transform: rotate(-12.5grad);
  }
}

.service {
  &__footer-img-wrap {
    position: absolute;
    z-index: 0;
    right: get-rem(-220);
    bottom: 0;
  }
}

.modal {
  height: 700px;
}
