body
	.wrapper
		header
			.wrapper-content
				include includes/_header
		main
			section
				.wrapper-content
					include includes/_gifts
			section
				include includes/_team
			//- section
			//- 	.wrapper-content
			//- 		include includes/_action
			section
				include includes/_advantages
			section
				include includes/_service
			section
				include includes/_route
			//- section
			//- 	.wrapper-content
			//- 		include includes/_service
		footer