body
	.wrapper
		header
			include includes/_header
		main
			section
				include includes/_gifts
			section
				include includes/_team
			section
				include includes/_action
			section
				include includes/_advantages
			section
				include includes/_service
			section
				include includes/_route
			section
				include includes/_contacts
		footer
			include includes/_footer
	//- <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>