block variables
  - projectName = "LR Avangard",
  - adminEmail = "footballman170@yandex.ru",
  - nameSite = "lr-avangard.ru",
  - projectTitle = "Новый сервис Ленд Ровер на ТТК в Москве",
  - userPhone = "+7(495) 241-29-39",
  - phoneLink = "tel:+74952412939",
  - userMail = "info@lr-avangard.ru",
  - userAddress = "Москва, ул. Двинцев 3с6"