@function get-rem($px) {
  @return ($px/16)+rem;
}

@function get-em($px) {
  @return ($px/16)+em;
}

body {
    overflow-x: hidden;
}

.wrapper {
    width: 100%;
}

.wrapper-content {
    margin: 0 auto;
    padding-left: get-rem(12);
    padding-right: get-rem(12);
    max-width: 1290px;
}

.header-block {
    width: 100%;
    &__logo-section {
        display: flex;
        align-items: center;
        padding-left: get-rem(30);
        padding-right: get-rem(30);
        padding-top: get-rem(40);
        padding-bottom: get-rem(40);
    }
    &__line {
        hr {
            width: 100%;
            background-color: #d9d9d9;
            border: none;
            height: 1px;
            margin-top: 0px;
            margin-bottom: get-rem(15);
        }
    }
    &__content-block {
        position: relative;
        width: 100%;
        height: get-rem(880);
    }
    &__rectangle {
        position: absolute;
        width: 100%;
        height: get-rem(480);
        top: get-rem(85);
        background-color: #e6e6e6;
        z-index: 1;
    }
    &__lr {
        position: absolute;
        top: get-rem(-20);
        left: get-rem(25);
        z-index: 2;
    }
    &__lr-text {
         font-family: 'Fira Sans';
         font-size: get-em(550);
         font-weight: 800;
    }
    &__avangard {
        position: absolute;
        top: get-rem(190);
        left: get-rem(385);
        z-index: 4;
        text-align: center;
    }
    &__avangard-p {
        font-family: 'Fira Sans', sans-serif;
        font-size: get-em(120);
        font-weight: 700;
        color: #d60000;
        transform: rotate(-90deg);
    }
    &__car {
        position: absolute;
        top: get-rem(285);
        left: get-rem(130);
        z-index: 3;
    }

    &__text-wrap {
        position: absolute;
        left: 50%;
        top: get-rem(270);
        z-index: 3;
        width: 45%;
    }
    &__text {
        padding-left: get-rem(110);
        
    }
    &__text-h1 {
        font-family: 'Clear Sans', sans-serif;
        font-size: get-em(40);
        color: #000;
        line-height: 1.2em;
    }
    &__text-description {
        margin-top: get-em(50);
        font-family: 'Clear Sans', sans-serif;
        font-size: get-em(18);
        color: #373737;
        line-height: 1.5em;
    }
    &__style-print {
        position: absolute;
        top: get-rem(610);
        right: get-rem(-80);
        z-index: 5;
    }
    &__style-print-img {
        width: get-rem(170);
        fill: #d60000;
    }
}

.telephone {
    flex-basis: (100% / 3);
    &__link {
        font-family: 'Clear Sans', sans-serif;
        font-size: get-em(14);
        font-style: bold;
        font-weight: 700;
        color: black;
        text-decoration: none;
    }
}
.logo {
    flex-basis: (100% / 3);
    text-align: center;
    img {
        width: get-rem(120);
    }
}
.menu {
    display: flex;
    flex-basis: (100% / 3);
    justify-content: flex-end;
    &__text {
        font-family: 'Clear Sans';
        font-size: get-em(12);
        text-transform: uppercase;
    }
    &__icon {
        width: get-rem(15);
        height: get-rem(15);
        margin-right: get-rem(15);

    }
}

// gifts
// ----------------
.gifts {
    width: 100%;
    background: url(/images/pages/home/img__gifts-bg.jpg) no-repeat;
    background-size: cover;
    background-position: top center;
    position: relative;
    margin-bottom: get-rem(150);

    &__content-wrap {
        margin-left: get-rem(107);
    }

    &__h2 {
        font-family: 'Clear Sans', sans-serif;
        font-size: get-em(30);
        font-weight: 400;
        color: #fff;
        padding-top: get-rem(60);
    }
    &__desc-text {
        font-family: 'Clear Sans', sans-serif;
        font-size: get-em(18);
        font-weight: 400;
        color: rgba(255,255,255, .4);
        line-height: 1.5em;
        width: 35%;
        margin-top: get-rem(70);
        margin-bottom: get-rem(60);        
    }
    &__cards-wrap {
        display: flex;
    }
    &__star-text-wrap {
        text-align: right;
        padding-right: get-rem(30);
        margin-top: get-rem(60);
        padding-bottom: get-rem(60);
    }
    &__star-text {
        font-family: 'Clear Sans', sans-serif;
        font-size: get-em(12);
        font-weight: 400;
        color: rgba(255,255,255, .4);
        line-height: 1.2em;
    }

    &__style-print {
        position: absolute;
        bottom: get-rem(-77);
        left: calc(50% - 5.3125rem);
    }

    &__style-print-img {
        @extend .header-block__style-print-img;
    }
}

.card-gift {
    width: get-rem(200);
    height: get-rem(200);
    border: 1px solid rgba(255,255,255, .2);
    background-color: rgba(0, 0, 0, .2);
    border-radius: 10px;
    margin-right: 5px;
    padding-left: get-em(15);
    padding-top: get-em(15);
    &__border_full-opacity {
        @extend .card-gift;
        border: 1px solid rgba(255,255,255, 1);
    }

    &__ul-choose {
        padding: 0;
        &__display_none {
            display: none;
        }
    }
    &__li-choose {
        display: inline-block;
        list-style: none;
        margin-right: 7px;
    }
    &__ellipse {
        @extend .card-gift__li-choose;
        width: 7px; 
        height: 7px;
        background: #75c342;
        border-radius: 50%; 
    }
    &__choose-text {
        @extend .card-gift__li-choose;
        @extend .card-gift__text;
        text-transform: uppercase;
        vertical-align: middle;
    }
    &__text {
        font-family: 'Clear Sans', sans-serif;
        font-size: get-em(12);
        font-weight: 400;
        color: rgba(255,255,255, .4);
        line-height: 1.2em;
    }
    &__number {
        @extend .card-gift__text;
        &__display_none {
            display: none;
        }
    }
    &__desc-text {
        @extend .card-gift__text;
        text-align: center;
        margin-top: get-rem(-25);
        padding-left: get-rem(15);
        padding-right: get-rem(30);
    }
    &__image-wrap {
        text-align: center;
    }
    &__image-oil {
        text-align: center;
        width: get-rem(60);
        fill: rgba(255,255,255, .8);
    }
}

.gifts-form {
    width: get-rem(300);
    margin-top: get-rem(30);

    .gifts-form__sevice_true {
        width: 100%;
    }

    &__field {
        width: get-rem(240);
        height: get-rem(60);
        border: 1px solid rgba(255,255,255, .2);
        padding-left: get-rem(30);
        padding-right: get-rem(30);
        padding-top: get-rem(20);
        &__name {
            @extend .gifts-form__field;
            margin-bottom: get-rem(7);
        }
        &__name__service_true {
            @extend .gifts-form__field;
            margin-bottom: get-rem(7);
            width: calc(100% - 60px);
        }
        &__phone {
            @extend .gifts-form__field;
            margin-bottom: get-rem(30);
        }
        &__phone__service_true {
            @extend .gifts-form__field;
            margin-bottom: get-rem(30);
            width: calc(100% - 60px);
        }
    }
    &__label {
        font-family: 'Clear Sans', sans-serif;
        font-size: get-em(12);
        font-weight: 400;
        color: rgba(255, 255, 255, .4);
        text-transform: uppercase;
        margin-bottom: get-rem(15);

    }
    &__input {
        width: 100%;
        border: none;
        margin-top: get-rem(5);
        outline: none;
        background-color: rgba(0, 0, 0, .2);
        font-family: 'Clear Sans', sans-serif;
        font-size: get-em(18);
        font-weight: 700;
        color: rgba(255, 255, 255, .2);

        &::-webkit-input-placeholder { 
            color: rgba(255, 255, 255, .2);
        }
    }

    &__button {
        width: get-rem(301);
        height: get-rem(80);
        background-color: #fff;
        border: 1px solid #fff;
        font-family: 'Clear Sans', sans-serif;
        font-size: get-em(12);
        font-weight: 700;
        color: #000;
        text-transform: uppercase;
        cursor: pointer;

        &__service_true {
            @extend .gifts-form__button;
            width: 100%;
        }
    }
}

// team
.team {
    width: 100%;
    background: #e6e6e6;
    height: 1500px;

    &__content-wrap {
        @extend .wrapper-content;
        background: #e6e6e6;
        padding-left: get-rem(107);
        padding-right: get-rem(107);
        position: relative;
    }

    &__bridge-img-wrap {
        position: absolute;
        top: 0;
        left: get-rem(-100);
        z-index: 0;
    }

    &__main-content-wrap {
        z-index: 1;
        position: relative;
    }

    &__h2 {
        font-family: 'Clear Sans', sans-serif;
        font-size: get-em(30);
        font-weight: 400;
        color: #000;
        padding-top: get-rem(200);
    }
    &__hr {
        width: 100%;
        background-color: #d60000;
        border: none;
        height: 3px;
        margin-top: get-rem(60);
        &__margin-top_none {
            @extend .team__hr;
            margin-top: 0;
        }
    }

    &__text-block {
        display: flex;
    }
    &__text-block-item {
        flex-basis: 50%;
        padding-top: get-rem(65);
        padding-bottom: get-rem(65);
        padding-left: get-rem(8);
        padding-right: get-rem(8);
        &__padding-left_none {
            @extend .team__text-block-item;
            padding-left: 0;
        }
    }
    &__content-text {
        font-family: 'Clear Sans', sans-serif;
        font-weight: 400;
        color: rgba(55, 55, 55, .8);
        line-height: get-em(27);
        font-size: get-em(18);

        &__text_original {           
            @extend .team__content-text;
        }
        &__first-letter_stylish {
            @extend .team__content-text;
        }
        &__first-letter_stylish::first-letter {
            font-size: get-em(100);
            line-height: 0.75em;
            float: left;
        }
    }
    &__preview {
        display: flex;
        flex-direction: row;
        margin-top: get-rem(70);
        margin-bottom: get-rem(50);
    }

    &__preview-item {

    }
    &__preview-circle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: get-rem(115);
        height: get-rem(115);
        border-radius: 50%;
        border: none;
        &__border_true {
            @extend .team__preview-circle;
            border: 3px solid #d60000;
            cursor: pointer;
        }
    }

    &__preview-photo-img {
        width: get-rem(100);
        height: get-rem(100);
        border-radius: 50%;
        cursor: pointer;

        &__photo_false {
            @extend .team__preview-photo-img;
            background-color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__preview-photo-text {
        font-family: 'Clear Sans', sans-serif;
        font-size: get-em(12);
        font-weight: 400;
        color: rgba(55, 55, 55, .8);
    }
}

.personal-preview {
    width: 100%;
    position: relative;
    
    &__img-wrap {
        position: absolute;
        top: 0;
        left: 0;
    }
    &__img {
        width: get-rem(415);
    }

    &__content-wrap {
        position: absolute;
        width: 100%;
        top: get-rem(75);
        left: 0;
    }

    &__info-wrap {
        margin-left: get-rem(360);
        display: flex;
        border-bottom: 3px solid #d60000;
        padding-bottom: get-rem(20);
    }
    &__name-wrap {
        margin-right: calc(100% / 6);
    }
    &__name {
        font-family: 'Fira Sans', sans-serif;
        font-size: get-em(80);
        font-weight: 800;
        color: #d60000;
        line-height: 1.2em;
    }

    &__brief {
    }
    &__vacancy {
        font-family: 'Clear Sans', sans-serif;
        font-size: get-em(12);
        font-weight: 400;
        color: #000;
        text-transform: uppercase;
        margin-bottom: get-rem(20);
    }
    &__experience {
        font-family: 'Clear Sans', sans-serif;
        font-size: get-em(18);
        font-weight: 400;
        color: rgba(0, 0, 0, .6);
        line-height: 1.5em;
        margin-bottom: get-rem(30);
    }

    &__arrows {
        display: flex;
        width: 100%;
        position: relative;
    }
    &__arrow {
        width: get-rem(40);
        height: get-rem(40);
        cursor: pointer;
        &__position_left {
            @extend .personal-preview__arrow;
            background-color: #ebebeb;
        }
        &__position_right {
            @extend .personal-preview__arrow;
            background-color: #fff;
        }
    }

    &__arrow-svg-wrap {
        position: absolute;
        top: get-rem(10);
    }
    &__arrow-svg-wrap__position_left {
        @extend .personal-preview__arrow-svg-wrap;
        left: get-rem(14);
    }
    &__arrow-svg-wrap__position_right {
        @extend .personal-preview__arrow-svg-wrap;
        left: get-rem(54);
    }
    &__arrow-svg {
        width: 12px;
        height: 20px;
        fill: #000;
        cursor: pointer;
    }

    &__add-text-wrap {
        padding-left: calc(100% / 6);
        margin-left: get-rem(360);
        margin-top: get-rem(50);
        p {
            padding-bottom: get-rem(25);
        }
    }

    &__add-text-wrap
    {
        font-family: 'Clear Sans', sans-serif;
        font-size: get-em(14);
        font-weight: 400;
        font-style: italic;
        color: rgba(0, 0, 0, 1);
        line-height: 1.5em;
    }
}
// advantages
.advantages {
    width: 100%;
    background: #e6e6e6;
    height: get-rem(645);

    &__content-wrap {
        @extend .wrapper-content;
        background: #e6e6e6;
        padding-left: get-rem(107);
        padding-right: get-rem(107);
        margin: 0 auto;
    }

    &__row {
        display: flex;
    }

    &__row-block {
        flex: 1 1 50%;
        box-sizing: border-box;
    }

    &__img-block {
        @extend .advantages__row-block;
        position: relative;
        margin-left: get-rem(-30);

        &__padding-left_true {
            @extend .advantages__img-block;
            padding-left: get-rem(60);
        }

        &__margin-left_none {
            @extend .advantages__img-block;
            margin-left: 0;
        }
    }

    &__content-block {
        @extend .advantages__row-block;
        padding-left: get-rem(60);
        padding-right: get-rem(60);

        &__padding-left_none {
            @extend .advantages__content-block;
            padding-left: 0;
            padding-right: get-rem(120);
        }
    }

    &__style-print {
        position: absolute;
        top: get-rem(133);
        left: get-rem(350);

        &__position_right {
            @extend .advantages__style-print;
            top: get-rem(115);
            left: get-rem(-40);
        }
    }
    &__style-print-img {
        @extend .header-block__style-print-img;
    }

    &__icon-svg-wrap {
        @extend .team__preview-photo-img__photo_false;
        margin-bottom: get-rem(30);
    }
    &__icon-svg {
        width: get-rem(40);
        height: get-rem(40);
    }

    &__h2-wrap {
        position: relative;
        width: 85%;
    }
    &__h2-number-text-wrap {
        position: absolute;
        top: get-rem(17);
        left: get-rem(-28);
    }
    &__h2-number-text {
        font-family: 'Clear Sans', sans-serif;
        font-size: get-em(12);
        font-weight: 400;
        color: rgba(0, 0, 0, 1);
    }

    &__h2 {
        font-family: 'Clear Sans', sans-serif;
        font-size: get-em(30);
        font-weight: 400;
        color: rgba(0, 0, 0, 1);
        line-height: 1.2em;
        margin-bottom: get-rem(60);
    }

    &__text {
        font-family: 'Clear Sans', sans-serif;
        font-size: get-em(18);
        font-weight: 400;
        color: rgba(55, 55, 55, 0.8);
        line-height: 1.5em;
    }

    &__hr {
        @extend .team__hr;
        margin-top: get-rem(90);
        margin-bottom: 40px;
    }
}

.form-block {
    height: 700px;
    background: #e6e6e6;
    
    &__h2-wrap {
       width: calc(100% / 12 * 4 - 15px);
       margin: 0 auto;
       text-align: center;
       padding-bottom: get-rem(60);
    }
    
    &__h2 {
        font-family: 'Clear Sans', sans-serif;
        font-size: get-em(30);
        font-weight: 400;
        color: rgba(0, 0, 0, 1);
        line-height: 1.2em;
    }
    &__wrap {
        max-width: 1290px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    &__field {
        width: calc(100% / 12 * 6 - 15px);
        height: get-rem(60);
        margin: 3.5px auto;
        border: 1px solid rgba(0, 0, 0, .2);
        padding-left: get-rem(30);
        padding-top: get-rem(20);

        &__comment_true {
            @extend .form-block__field;
           height: get-rem(210);
        }
    }

    &__label {
        font-family: 'Clear Sans', sans-serif;
        font-size: get-em(12);
        font-weight: 400;
        color: rgba(0, 0, 0, 0.4);
        text-transform: uppercase;
        margin-bottom: get-rem(15);
    }

    &__input {
        width: 100%;
        border: none;
        margin-top: get-rem(5);
        outline: none;
        background-color: #e6e6e6;
        font-family: 'Clear Sans', sans-serif;
        font-size: get-em(18);
        font-weight: 700;
        color: rgba(0, 0, 0, .2);

        &::-webkit-input-placeholder { 
            color: rgba(0, 0, 0, .2);
            background-color: #e6e6e6;
        }
    }

    &__comment-wrap {
        position: relative;
    }

    &__button-wrap {
        position: absolute;
        top: get-rem(100);
        // left: get-rem(200);
    }

    &__choose-text {
        @extend .card-gift__choose-text;
        font-family: 'Clear Sans', sans-serif;
        font-size: get-em(12);
        font-weight: 700;
        color: rgba(255, 255, 255, 1);
        text-transform: uppercase;
    }
    

    &__button {
        width: get-rem(300);
        height: get-rem(80);
        background-color: #000;
        border: none;
        cursor: pointer;
        display: block;
        box-shadow: 0px 10px 20px 8px rgba(0, 0, 0, 0.2);
    }
}

// service + about
.about {
    background: black;
    width: 100%;

    &__max-width-wrap {
        background: black;
        max-width: 1290px;
        margin: 0 auto;
        position: relative;
    }

    &__content-wrap {
        width: calc(100% / 12 * 10 - 15px);
        margin: 0 auto;
        position: relative;
        z-index: 1;
    }

    &__h2-wrap {
        width: calc(100% / 10 * 4 - 15px);
        min-width: 200px;
    }

    &__bridge-img-wrap {
        position: absolute;
        top: 0;
        left: get-rem(-100);
        z-index: 0;
    }
    
    &__h2 {
        font-family: 'Clear Sans', sans-serif;
        font-size: get-em(30);
        font-weight: 400;
        color: #fff;
        padding-top: get-rem(200);
        line-height: 1.2em;
    }
    &__hr {
        display: block;
        width: 100%;
        background-color: #d60000;
        border: none;
        height: 3px;
        margin-top: get-rem(60);
        &__margin-top_none {
            @extend .team__hr;
            margin-top: 0;
            margin-bottom: get-rem(50);
        }
    }

    &__text-block {
        width: 100%;
        display: flex;
        background: #000;
        flex-wrap: wrap;

    }
    &__text-block-item {
        background: #000;
        flex-basis: calc(100% / 10 * 5 - 15px);
        margin: 0 7.5px;
        min-width: 400px;
        padding-top: get-rem(65);
        padding-bottom: get-rem(65);
    }
    &__content-text {
        font-family: 'Clear Sans', sans-serif;
        font-weight: 400;
        color: rgba(255, 255, 255, .4);
        line-height: get-em(27);
        font-size: get-em(18);

        &__text_original {           
            @extend .about__content-text;
        }
        &__first-letter_stylish {
            @extend .about__content-text;
        }
        &__first-letter_stylish::first-letter {
            font-size: get-em(100);
            line-height: 0.8em;
            float: left;
            padding-right: 7px;
        }
    }
}

.service {
    &__h2 {
        font-family: 'Fira Sans', sans-serif;
        font-size: get-em(200);
        font-weight: 800;
        color: #fff;
    }

    &__cards-wrap {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        margin-top: get-rem(30);
    }

    &__cards-wrap-item {
        position: relative;
        flex-basis: calc(100%/10 * 2 - 15px);
        margin: 7px;
        height: 400px;
        min-width: 170px;
    }

    &__cards-wrap-item-image {    
        width: 100%;
        height: 280px;  
        background-size: cover;
        border-radius: 10px;
        position: absolute;
        top: 0;
        left: 0;
        box-shadow: 0px 35px 50px 10px rgba(214, 0, 0, 0.2);
        z-index: 3;
        &__service_01 {
            @extend .service__cards-wrap-item-image;
            background: url(/images/pages/home/img__about-service-01.jpg) top left no-repeat;
            background-size: cover;
        }
        &__service_02 {
            @extend .service__cards-wrap-item-image;
            background: url(/images/pages/home/img__about-service-02.jpg) top left no-repeat;
            background-size: cover;
        }
        &__service_03 {
            @extend .service__cards-wrap-item-image;
            background: url(/images/pages/home/img__about-service-03.jpg) top left no-repeat;
            background-size: cover;
        }
        &__service_04 {
            @extend .service__cards-wrap-item-image;
            background: url(/images/pages/home/img__about-service-04.jpg) top left no-repeat;
            background-size: cover;
        }
        &__service_05 {
            @extend .service__cards-wrap-item-image;
            background: url(/images/pages/home/img__about-service-05.jpg) top left no-repeat;
            background-size: cover;
        }
    }

    &__card-form {
        width: 90%;
        height: 30px;
        background: #000;
        color: #fff;
        border-radius: 10px;
        position: absolute;
        bottom: get-rem(10);
        left: 5%;
        display: flex;
        align-items: center;
        z-index: 2;
        cursor: pointer;
    }
    &__white-background {
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, .4);
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 10px;
        z-index: 1;
    }
    &__form-card-checkbox {
        width: 20px;
        height: 20px;
        border-radius: 10px;
        margin-left: 10px;
        margin-right: 10px;
        cursor: pointer;
    }
    &__form-text-checkbox {
        font-family: 'Clear Sans', sans-serif;
        font-weight: 700;
        color: rgba(255, 255, 255, 1);
        font-size: get-em(12);
        text-transform: uppercase;
    }
    &__form-card-label-wrap {
        position: absolute;
        width: 100%;
        height: get-rem(95);
        left: 0px;
        bottom: 0px;
        margin: 0 auto;
        z-index: 2;
        p {
            text-align: center;
        }
    }
    &__form-card-label {
        font-family: 'Clear Sans', sans-serif;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.4);
        font-size: get-em(12);
    }

    &__form-wrap {
        width: calc(100% / 10 * 4 - 15px);
        // height: 500px;
        // background: blue;
        min-width: 300px;
        padding-bottom: get-rem(160);
    }
    &__cnt-serivices {
        font-family: 'Clear Sans', sans-serif;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.4);
        font-size: get-em(12);
        text-transform: uppercase;
        margin-bottom: get-rem(35);
    }
    &__choose-item-wrap {
        position: relative;
    }
    &__choose-item-text {
        font-family: 'Clear Sans', sans-serif;
        font-weight: 400;
        color: rgba(255, 255, 255, 1);
        font-size: get-em(18);
        line-height: 1.5em;
        margin-bottom: get-rem(35);
        margin-left: get-rem(30);
    }
    &__choose-item-number-wrap {
        position: absolute;
        top: 7px;
        left: 0;
    }
    &__choose-item-number {
        font-family: 'Clear Sans', sans-serif;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.4);
        font-size: get-em(12);
    }

    &__footer-img-wrap {
        position: absolute;
        bottom: 0px;
        right: get-rem(-100);
        z-index: 0;
    }
}

// route
.route {
    background: black;
    width: 100%;
    height: 1500px;

    &__max-width-wrap {
        background: blue;
        max-width: 1290px;
        margin: 0 auto;
        position: relative;
        height: 1500px;
    }

    &__content-wrap {
        width: calc(100% / 12 * 10 - 15px);
        margin: 0 auto;
        height: 1500px;
        background: yellow;
    }
    &__h2 {
        font-family: 'Clear Sans', sans-serif;
        font-weight: 400;
        color: rgba(0, 0, 0, 1);
        font-size: get-em(30);
        padding-top: get-rem(100);
    }
    &__path-auto {
        font-family: 'Fira Sans', sans-serif;
        font-weight: 800;
        color: #d60000;
        font-size: get-em(80);
        padding-top: get-rem(65);
        padding-bottom: get-rem(10);
    }
    &__hr {
        width: calc(100% / 10 * 7 - 15px);
        background-color: #d60000;
        border: none;
        height: 3px;
    }
    &__vids-list {
        padding-top: get-rem(30);
    }
    &__vids-list-item {
        width: calc(100% / 10 * 5 - 15px);
        height: 120px;
        background-color: #000;
        position: relative;
        margin-bottom: get-rem(15);
    }

    &__video-preview {
        position: absolute;
        top: 0;
        left: 0;
    }
    &__desc-video-preview {
        padding-left: get-rem(235);
    }
    &__desc-video-header {
        font-family: 'Clear Sans', sans-serif;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.4);
        font-size: get-em(12);
        text-transform: uppercase;
        padding-top: get-rem(30);
    }
    &__desc-video-header2 {
        font-family: 'Clear Sans', sans-serif;
        font-weight: 400;
        color: rgba(255, 255, 255, 1);
        font-size: get-em(12);
        padding-top: get-rem(25);
    }

    // &__video {
    //     width: 40%;
    //     background: red;
    // }
}

