- var adminEmail = "footballman170@yandex.ru";
- var nameSite = "lr-avangard.ru";
.header-block
	.header-block__max-width-wrap
		.header-block__logo-section
			.telephone
				a(class ="telephone__link" href="tel:+7(495)241-29-89" title="Позвонить") +7(495) 241-29-39
			.logo
				a(href="/" title="Сервис Ленд Ровер в Москве")
					img(src="/images/common/img__logo.svg" alt="Сервис Ленд Ровер в Москве" title="Сервис Ленд Ровер в Москве")
			.menu
				p.menu__span-block
					span.menu__span-icon
						a(href="/")
							svg(class="menu__icon" aria-hidden="true")
								use(xlink:href="/images/common/sprite__icons.svg#arrow-left")
					span.menu__span-text
						a(href="/")
							| на главную
		.header-block__line-block
			hr.header-block__hr
		.header-block__left-wrap
			.header-block__lr
				p.header-block__lr-text
					| LR
			.header-block__avangard
				p.header-block__avangard-p
					| Avangard
			.header-block__car
				img(class="header-block__car-img" src="/images/pages/thankyou/img__main-screen-car.jpg")
		.header-block__text-wrap
			.header-block__text
				h1.header-block__text-h1
					| Соглашение об обработке персональных данных
				p.header-block__text-description__thankyou_true
					| Данное соглашение разработано в соответствии с законодательством Российской Федерации.
		//- .header-block__style-print
		//- 	svg(class="header-block__style-print-img" aria-hidden="true")
		//- 		use(xlink:href="/images/common/sprite__icons.svg#pattern")
		.header-block__padding-block
.about__policy_true
	.about__max-width-wrap__policy_true
		.about__content-wrap__policy_true
			.about__main-content-wrap
				.about__hr
				.about__text-block__policy_true
					.about__text-block-item__padding-left_none
						p.about__content-text__policy_true
							|	Все посетители заполнившие сведения составляющие персональные данные на сайте lr-avangard.ru, а также разметившие иную информацию обозначенными действиями, подтверждают свое согласие на обработку своих персональных данных. Под персональными данными гражданина РФ понимаются:
						ul(class="about__content-text-list")
							li(type="disc")
								| Ф.И.О.
							li(type="disc")
								| Год рождения;
							li(type="disc")
								| Личный номер телефона;
							li(type="disc")
								| Информация из социальных сетей;
							li(type="disc")
								| Серии и номералюбых документов;
							li(type="disc")
								| E-mail.
						p.about__content-text__policy_true
							| Посетитель сайта направляет свои персональные данные оператору, для получения необходимой информации, принадлежащей сайту lr-avangard.ru. Посетитель, принимая
					.about__text-block-item__policy_true
						p.about__content-text__policy_true
							| заинтересованность и полное согласие на обработку персональных данных. Обработка персональных данных включает в себя: сбор, систематизацию, накопление, хранение, уточнение, обновление, изменение, использование, уничтожение.
						p.about__content-text__policy_true
							br
							| Посетитель гарантирует, что информация предоставленная оператору, является: полной, точной, достоверной, не нарушающей законодательство РФ, не нарушает права третьих лиц.
				.about__hr__margin-top_none
.contacts
	.contacts__max-width-wrap
		//- .contacts__style-print
		//- 	svg(class="contacts__style-print-img" aria-hidden="true")
		//- 		use(xlink:href="/images/common/sprite__icons.svg#pattern")
		.contacts__content-wrap
			.contacts__card
				h2.contacts__h2
					| Контакты
				address
					p.contacts__address-text
						| Москва, ул. Двинцев 3с6
					p.contacts__address-text
						| +7(495)241-29-39
					p.contacts__address-text
						| info@lr-avangard.ru
				.contacts__form
					<button class="contacts__form-button"><ul class="card-gift__ul-choose"><li class="card-gift__ellipse"></li><li class="contacts__choose-text">Оставить заявку</li></ul></button>
			div(class="contacts__map" id="contactsMap")
.footer
	.footer__max-width-wrap
		.footer__content-wrap
			.footer__hr
			.footer__flex-wrap
				.footer__logo-block
					.footer__logo-wrap
						a(href="/" title="Сервис Ленд Ровер в Москве")
							img(class="footer__logo-img" src="/images/common/img__logo.svg" alt="Сервис Ленд Ровер в Москве" title="Сервис Ленд Ровер в Москве")
				.footer__address-block
					address
						p.footer__phone
							| +7(495) 241-29-39
						p.footer__email
							| info@lr-avangard.ru
				.footer__politic-block
					p.footer__politic
						a(class="footer__politic-link" href="/polytics.html")
							| Публичная оферта и политика конфиденциальности
					p.footer__copyrights
						| © ООО «Ленд Ровер Москва»,
						br
						| 2002—2019.